html, body, .app, .row, .mainView, .sideView  {
  height:100%;
}

.event-text {
  width:50px;
  height:50px;
  position: absolute;
  top: 50%;
  left:50%;
  display: block;
}
#chartHolder {
  width:100%;
  height: 100%;
  border: solid black 1px;
  border-radius: 10px;
  margin: 5px;
}

.background {
  fill: none;
  pointer-events: all;
}

.states {
  fill: #ccc;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.event-arcs {
  display: inline;
  fill: none;
  stroke: #000;
  pointer-events: none;
}

.event-cell {
  fill: none;
  pointer-events: none;
}

.events circle {
  fill: #07e;
  stroke: #fff;
  pointer-events: all;
}

.events.active circle{
  fill: #0a0;
  pointer-events: all;
}

.events text {
  opacity: 0;
}

.events.active text{
  opacity: 1;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.col-md-4 {
  border-left: solid gray 1px;
}

.follow-user {
  margin: 10px;
  background-color: ##EFF1FF;
  border-radius: 10px;
  display: block;
}

.follow-button {
  margin-top: 13px;
}